

<div class="main-area">
    <h3>Comments</h3>
    <div *ngFor="let comment of data" class="comment-item">
    <strong>{{ comment.name }}</strong>
    <p>{{ comment.text }}</p>
    </div>

    <div class="content-area">
    <div class="header">
    <h1>Add a comment</h1>
    <hr />
    </div>
    <div class="container">
    <!--Add product form-->
    <div class="form-area">
    <h3>Add User's Info</h3>
    <form (ngSubmit)="onSubmit(userForm.value)" #userForm="ngForm">
     
    <label>username</label>
    <input type="text" name="name" ngModel />
     
             
    <label>Comment</label>
    <input type="text" name="Comment" ngModel />
     
             
     
              <input type="submit" value="Submit" />
    </form>
    </div>
     
   
  
    </div>
    </div>
    </div>