

<div class="container">
  <h2 style="color:brown"></h2>

  <ng-container *ngFor="let course of data">

      <div class="course-container">
          <div class="course-card">
              <div class="course-name"><h3>This is written by {{ course.name}}</h3></div>
              <div>
                  <img [src]="course.image" style="width:300px; height:200px;">
              </div>
              
              <div class="course-name"><h6>{{course.description}}</h6></div>
              
             
              
             
          </div>
      </div>  

  </ng-container>


</div>

<router-outlet></router-outlet>